<div class="ui segment">
    <form method="get" action="{{ path('webburza_location_frontend_index') }}" class="ui loadable form">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="field">
                    <input type="text" name="query" placeholder="{{ 'webburza_location.ui.search_term' | trans }}" value="{{ app.request.get('query', '') }}">
                </div>
            </div>
            <div class="four wide column">
                <div class="ui buttons">
                    <button type="submit" class="ui primary icon labeled button"><i class="search icon"></i> {{ 'sylius.ui.search'|trans }}</button>
                    <a href="{{ path('webburza_location_frontend_index') }}" class="ui negative icon labeled button">
                        <i class="cancel icon"></i> {{ 'sylius.ui.clear'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
