{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ location.name }} - {{ location.address }}{% endblock %}

{% block metatags %}
    <meta charset="UTF-8">
    <title>{{ block('title') }}</title>
    <meta name="description" content="{{ location.metaDescription }}">
    <meta name="keywords" content="{{ location.metaKeywords }}">
    <meta property="place:location:latitude" content="{{ location.latitude }}"/>
    <meta property="place:location:longitude" content="{{ location.longitude }}"/>
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider">/</div>

        <a href="{{ path('webburza_location_frontend_index') }}" class="section">
            {{ 'webburza_location.ui.locations'|trans }}
        </a>
        <div class="divider">/</div>
        <div class="active section">{{ location.name }}</div>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui two column stackable grid location-item"
         data-id="{{ location.id }}"
         data-latitude="{{ location.latitude }}"
         data-longitude="{{ location.longitude }}"
         data-href="{{ path('webburza_location_frontend_show', {slug: location.slug}) }}"
    >

        <div class="column">
            {% set href = location.hasImages ? (location.images.first.path | imagine_filter(filter|default('sylius_shop_product_large_thumbnail'))) : 'http://placehold.it/400x300' %}
            {% set src = location.hasImages ? (location.images.first.path |imagine_filter(filter|default('sylius_shop_product_large_thumbnail'))) : href %}

            <a href="{{ href }}" class="ui fluid image" data-lightbox="sylius-location-image">
                <img src="{{ src }}" id="main-image" alt="" />
            </a>

            {% if location.images|length > 1 %}
                <div class="ui divider"></div>
                <div class="ui small images">
                    {% for image in location.images %}
                        <a href="{{ image.path|imagine_filter('sylius_shop_product_original') }}" class="ui image" data-lightbox="sylius-location-image">
                            <img src="{{ image.path|imagine_filter('sylius_shop_product_small_thumbnail') }}" />
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="column">
            <h1 class="ui monster dividing header">{{ location.name }}</h1>

            <div class="ui stackable grid">
                <div class="four wide column">
                    <div class="ui list">
                        {% if location.fullAddress %}
                            <div class="item">
                                <i class="marker icon"></i>
                                <div class="content">
                                    {{ location.fullAddress }}
                                </div>
                            </div>
                        {% endif %}

                        {% if location.email %}
                            <div class="item">
                                <i class="mail icon"></i>
                                <div class="content">
                                    {{ location.email }}
                                </div>
                            </div>
                        {% endif %}

                        {% if location.phone %}
                            <div class="item">
                                <i class="phone icon"></i>
                                <div class="content">
                                    {{ location.phone }}
                                </div>
                            </div>
                        {% endif %}

                        {% if location.workingHours %}
                            <div class="item">
                                <i class="clock icon"></i>
                                <div class="content">
                                    {{ location.workingHours }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="twelve wide right aligned column">
                    <span class="ui sub header">
                        {{ location.locationType.name }} <br>
                        {{ location.internalName }}
                    </span>
                </div>
            </div>

            <div class="ui hidden divider"></div>

            {% if location.description %}
                <div class="ui basic segment">
                    {{ location.description }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if googleMapsEnabled and googleMapsKey %}
        <div class="ui segment">
            <div id="mapHolder" style="height: 500px;"></div>
        </div>
        <div class="ui center aligned basic segment">
            {{ buttons.default(path('webburza_location_frontend_index'), 'webburza_location.ui.back', null, 'chevron left') }}
            <a class="ui labeled icon button primary" href="{{ googleMapUrl }}" target="_blank">
                <i class="icon external"></i> {{ 'webburza_location.ui.open_in_gm' | trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if googleMapsEnabled %}
        <script src="//maps.googleapis.com/maps/api/js?key={{ googleMapsKey }}"></script>
    {% endif %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/webburzasyliuslocation/js/locations.js'} %}
{% endblock %}
